# --- System & IDE Files ---
.DS_Store
.vscode/
.idea/

# --- Python & Cache ---
__pycache__/
*.py[cod]
*$py.class

# --- Virtual Environment
navigator-env/

# --- Jupyter Notebooks ---
.ipynb_checkpoints/

# --- Environment Variables (RAHASIA) ---
.env

# --- Database & Arsip ---
db.sqlite
archive.zip
*.zip
*.rar

# --- DATASETS ---
/dataset/
data/
*.csv
*.xlsx
*.json
*.pkl
*.parquet