# Data Manipulation & Math
numpy
pandas
tqdm
joblib

# Visualization
matplotlib
seaborn
wordcloud
networkx
pyvis

# Natural Language Processing (NLP)
spacy
skillNer
sentence-transformers

# Machine Learning & Deep Learning
scikit-learn
tensorflow
faiss-cpu

# Utilities
python-dotenv
